@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

html {
  scrollbar-width: thin;
}

.magicpattern {
  width: 70%;
  height: 80%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22rgba(0%2C 0%2C 0%2C 0)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23fff%22 stroke-width=%222%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h105.263v105.263H0zM105.263 0h105.263v105.263H105.263zM210.526 0h105.263v105.263H210.526zM315.789 0h105.263v105.263H315.789zM421.053 0h105.263v105.263H421.053zM526.316 0h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 0h105.263v105.263H631.579zM736.842 0h105.263v105.263H736.842zM842.105 0h105.263v105.263H842.105zM947.368 0h105.263v105.263H947.368zM1052.632 0h105.263v105.263h-105.263zM1157.895 0h105.263v105.263h-105.263zM1263.158 0h105.263v105.263h-105.263zM1368.421 0h105.263v105.263h-105.263zM1473.684 0h105.263v105.263h-105.263zM1578.947 0h105.263v105.263h-105.263zM1684.211 0h105.263v105.263h-105.263zM1789.474 0h105.263v105.263h-105.263zM1894.737 0H2000v105.263h-105.263zM0 105.263h105.263v105.263H0zM105.263 105.263h105.263v105.263H105.263zM210.526 105.263h105.263v105.263H210.526zM315.789 105.263h105.263v105.263H315.789zM421.053 105.263h105.263v105.263H421.053zM526.316 105.263h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 105.263h105.263v105.263H631.579zM736.842 105.263h105.263v105.263H736.842zM842.105 105.263h105.263v105.263H842.105zM947.368 105.263h105.263v105.263H947.368zM1052.632 105.263h105.263v105.263h-105.263zM1157.895 105.263h105.263v105.263h-105.263zM1263.158 105.263h105.263v105.263h-105.263zM1368.421 105.263h105.263v105.263h-105.263zM1473.684 105.263h105.263v105.263h-105.263zM1578.947 105.263h105.263v105.263h-105.263zM1684.211 105.263h105.263v105.263h-105.263zM1789.474 105.263h105.263v105.263h-105.263zM1894.737 105.263H2000v105.263h-105.263zM0 210.526h105.263v105.263H0zM105.263 210.526h105.263v105.263H105.263zM210.526 210.526h105.263v105.263H210.526zM315.789 210.526h105.263v105.263H315.789zM421.053 210.526h105.263v105.263H421.053zM526.316 210.526h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 210.526h105.263v105.263H631.579zM736.842 210.526h105.263v105.263H736.842zM842.105 210.526h105.263v105.263H842.105zM947.368 210.526h105.263v105.263H947.368zM1052.632 210.526h105.263v105.263h-105.263zM1157.895 210.526h105.263v105.263h-105.263zM1263.158 210.526h105.263v105.263h-105.263zM1368.421 210.526h105.263v105.263h-105.263zM1473.684 210.526h105.263v105.263h-105.263zM1578.947 210.526h105.263v105.263h-105.263zM1684.211 210.526h105.263v105.263h-105.263zM1789.474 210.526h105.263v105.263h-105.263zM1894.737 210.526H2000v105.263h-105.263zM0 315.789h105.263v105.263H0zM105.263 315.789h105.263v105.263H105.263zM210.526 315.789h105.263v105.263H210.526zM315.789 315.789h105.263v105.263H315.789zM421.053 315.789h105.263v105.263H421.053zM526.316 315.789h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 315.789h105.263v105.263H631.579zM736.842 315.789h105.263v105.263H736.842zM842.105 315.789h105.263v105.263H842.105zM947.368 315.789h105.263v105.263H947.368zM1052.632 315.789h105.263v105.263h-105.263zM1157.895 315.789h105.263v105.263h-105.263zM1263.158 315.789h105.263v105.263h-105.263zM1368.421 315.789h105.263v105.263h-105.263zM1473.684 315.789h105.263v105.263h-105.263zM1578.947 315.789h105.263v105.263h-105.263zM1684.211 315.789h105.263v105.263h-105.263zM1789.474 315.789h105.263v105.263h-105.263zM1894.737 315.789H2000v105.263h-105.263zM0 421.053h105.263v105.263H0zM105.263 421.053h105.263v105.263H105.263zM210.526 421.053h105.263v105.263H210.526zM315.789 421.053h105.263v105.263H315.789zM421.053 421.053h105.263v105.263H421.053zM526.316 421.053h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 421.053h105.263v105.263H631.579zM736.842 421.053h105.263v105.263H736.842zM842.105 421.053h105.263v105.263H842.105zM947.368 421.053h105.263v105.263H947.368zM1052.632 421.053h105.263v105.263h-105.263zM1157.895 421.053h105.263v105.263h-105.263zM1263.158 421.053h105.263v105.263h-105.263zM1368.421 421.053h105.263v105.263h-105.263zM1473.684 421.053h105.263v105.263h-105.263zM1578.947 421.053h105.263v105.263h-105.263zM1684.211 421.053h105.263v105.263h-105.263zM1789.474 421.053h105.263v105.263h-105.263zM1894.737 421.053H2000v105.263h-105.263zM0 526.316h105.263v105.263H0zM105.263 526.316h105.263v105.263H105.263zM210.526 526.316h105.263v105.263H210.526zM315.789 526.316h105.263v105.263H315.789zM421.053 526.316h105.263v105.263H421.053zM526.316 526.316h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 526.316h105.263v105.263H631.579zM736.842 526.316h105.263v105.263H736.842zM842.105 526.316h105.263v105.263H842.105zM947.368 526.316h105.263v105.263H947.368zM1052.632 526.316h105.263v105.263h-105.263zM1157.895 526.316h105.263v105.263h-105.263zM1263.158 526.316h105.263v105.263h-105.263zM1368.421 526.316h105.263v105.263h-105.263zM1473.684 526.316h105.263v105.263h-105.263zM1578.947 526.316h105.263v105.263h-105.263zM1684.211 526.316h105.263v105.263h-105.263zM1789.474 526.316h105.263v105.263h-105.263zM1894.737 526.316H2000v105.263h-105.263zM0 631.579h105.263v105.263H0zM105.263 631.579h105.263v105.263H105.263zM210.526 631.579h105.263v105.263H210.526zM315.789 631.579h105.263v105.263H315.789zM421.053 631.579h105.263v105.263H421.053z%22%2F%3E%3Cpath d=%22M526.316 631.579h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 631.579h105.263v105.263H631.579zM736.842 631.579h105.263v105.263H736.842zM842.105 631.579h105.263v105.263H842.105zM947.368 631.579h105.263v105.263H947.368zM1052.632 631.579h105.263v105.263h-105.263zM1157.895 631.579h105.263v105.263h-105.263zM1263.158 631.579h105.263v105.263h-105.263zM1368.421 631.579h105.263v105.263h-105.263zM1473.684 631.579h105.263v105.263h-105.263zM1578.947 631.579h105.263v105.263h-105.263zM1684.211 631.579h105.263v105.263h-105.263zM1789.474 631.579h105.263v105.263h-105.263zM1894.737 631.579H2000v105.263h-105.263zM0 736.842h105.263v105.263H0zM105.263 736.842h105.263v105.263H105.263zM210.526 736.842h105.263v105.263H210.526zM315.789 736.842h105.263v105.263H315.789zM421.053 736.842h105.263v105.263H421.053zM526.316 736.842h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 736.842h105.263v105.263H631.579zM736.842 736.842h105.263v105.263H736.842zM842.105 736.842h105.263v105.263H842.105zM947.368 736.842h105.263v105.263H947.368zM1052.632 736.842h105.263v105.263h-105.263zM1157.895 736.842h105.263v105.263h-105.263zM1263.158 736.842h105.263v105.263h-105.263zM1368.421 736.842h105.263v105.263h-105.263zM1473.684 736.842h105.263v105.263h-105.263zM1578.947 736.842h105.263v105.263h-105.263zM1684.211 736.842h105.263v105.263h-105.263zM1789.474 736.842h105.263v105.263h-105.263zM1894.737 736.842H2000v105.263h-105.263zM0 842.105h105.263v105.263H0zM105.263 842.105h105.263v105.263H105.263zM210.526 842.105h105.263v105.263H210.526zM315.789 842.105h105.263v105.263H315.789zM421.053 842.105h105.263v105.263H421.053zM526.316 842.105h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 842.105h105.263v105.263H631.579zM736.842 842.105h105.263v105.263H736.842zM842.105 842.105h105.263v105.263H842.105zM947.368 842.105h105.263v105.263H947.368zM1052.632 842.105h105.263v105.263h-105.263zM1157.895 842.105h105.263v105.263h-105.263zM1263.158 842.105h105.263v105.263h-105.263zM1368.421 842.105h105.263v105.263h-105.263zM1473.684 842.105h105.263v105.263h-105.263zM1578.947 842.105h105.263v105.263h-105.263zM1684.211 842.105h105.263v105.263h-105.263zM1789.474 842.105h105.263v105.263h-105.263zM1894.737 842.105H2000v105.263h-105.263zM0 947.368h105.263v105.263H0zM105.263 947.368h105.263v105.263H105.263zM210.526 947.368h105.263v105.263H210.526zM315.789 947.368h105.263v105.263H315.789zM421.053 947.368h105.263v105.263H421.053zM526.316 947.368h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 947.368h105.263v105.263H631.579zM736.842 947.368h105.263v105.263H736.842zM842.105 947.368h105.263v105.263H842.105zM947.368 947.368h105.263v105.263H947.368zM1052.632 947.368h105.263v105.263h-105.263zM1157.895 947.368h105.263v105.263h-105.263zM1263.158 947.368h105.263v105.263h-105.263zM1368.421 947.368h105.263v105.263h-105.263zM1473.684 947.368h105.263v105.263h-105.263zM1578.947 947.368h105.263v105.263h-105.263zM1684.211 947.368h105.263v105.263h-105.263zM1789.474 947.368h105.263v105.263h-105.263zM1894.737 947.368H2000v105.263h-105.263zM0 1052.632h105.263v105.263H0zM105.263 1052.632h105.263v105.263H105.263zM210.526 1052.632h105.263v105.263H210.526zM315.789 1052.632h105.263v105.263H315.789zM421.053 1052.632h105.263v105.263H421.053zM526.316 1052.632h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 1052.632h105.263v105.263H631.579zM736.842 1052.632h105.263v105.263H736.842zM842.105 1052.632h105.263v105.263H842.105zM947.368 1052.632h105.263v105.263H947.368zM1052.632 1052.632h105.263v105.263h-105.263zM1157.895 1052.632h105.263v105.263h-105.263zM1263.158 1052.632h105.263v105.263h-105.263zM1368.421 1052.632h105.263v105.263h-105.263zM1473.684 1052.632h105.263v105.263h-105.263zM1578.947 1052.632h105.263v105.263h-105.263zM1684.211 1052.632h105.263v105.263h-105.263zM1789.474 1052.632h105.263v105.263h-105.263zM1894.737 1052.632H2000v105.263h-105.263zM0 1157.895h105.263v105.263H0zM105.263 1157.895h105.263v105.263H105.263zM210.526 1157.895h105.263v105.263H210.526zM315.789 1157.895h105.263v105.263H315.789zM421.053 1157.895h105.263v105.263H421.053zM526.316 1157.895h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 1157.895h105.263v105.263H631.579zM736.842 1157.895h105.263v105.263H736.842zM842.105 1157.895h105.263v105.263H842.105zM947.368 1157.895h105.263v105.263H947.368zM1052.632 1157.895h105.263v105.263h-105.263zM1157.895 1157.895h105.263v105.263h-105.263zM1263.158 1157.895h105.263v105.263h-105.263zM1368.421 1157.895h105.263v105.263h-105.263zM1473.684 1157.895h105.263v105.263h-105.263zM1578.947 1157.895h105.263v105.263h-105.263zM1684.211 1157.895h105.263v105.263h-105.263zM1789.474 1157.895h105.263v105.263h-105.263zM1894.737 1157.895H2000v105.263h-105.263zM0 1263.158h105.263v105.263H0zM105.263 1263.158h105.263v105.263H105.263zM210.526 1263.158h105.263v105.263H210.526zM315.789 1263.158h105.263v105.263H315.789zM421.053 1263.158h105.263v105.263H421.053zM526.316 1263.158h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 1263.158h105.263v105.263H631.579zM736.842 1263.158h105.263v105.263H736.842zM842.105 1263.158h105.263v105.263H842.105zM947.368 1263.158h105.263v105.263H947.368zM1052.632 1263.158h105.263v105.263h-105.263zM1157.895 1263.158h105.263v105.263h-105.263zM1263.158 1263.158h105.263v105.263h-105.263zM1368.421 1263.158h105.263v105.263h-105.263zM1473.684 1263.158h105.263v105.263h-105.263zM1578.947 1263.158h105.263v105.263h-105.263zM1684.211 1263.158h105.263v105.263h-105.263zM1789.474 1263.158h105.263v105.263h-105.263zM1894.737 1263.158H2000v105.263h-105.263zM0 1368.421h105.263v105.263H0zM105.263 1368.421h105.263v105.263H105.263zM210.526 1368.421h105.263v105.263H210.526zM315.789 1368.421h105.263v105.263H315.789zM421.053 1368.421h105.263v105.263H421.053zM526.316 1368.421h105.263v105.263H526.316z%22%2F%3E%3Cpath d=%22M631.579 1368.421h105.263v105.263H631.579zM736.842 1368.421h105.263v105.263H736.842zM842.105 1368.421h105.263v105.263H842.105zM947.368 1368.421h105.263v105.263H947.368zM1052.632 1368.421h105.263v105.263h-105.263zM1157.895 1368.421h105.263v105.263h-105.263zM1263.158 1368.421h105.263v105.263h-105.263zM1368.421 1368.421h105.263v105.263h-105.263zM1473.684 1368.421h105.263v105.263h-105.263zM1578.947 1368.421h105.263v105.263h-105.263zM1684.211 1368.421h105.263v105.263h-105.263zM1789.474 1368.421h105.263v105.263h-105.263zM1894.737 1368.421H2000v105.263h-105.263z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22 stop-opacity=%22.94%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

.carousel {
  animation: carouselScroll 30s linear infinite;
}

@keyframes carouselScroll {
  to {
    transform: translateX(calc(-100%- 6rem));
  }
}
